In [1]:
import pandas as pd
import requests
import tarfile
from os import path

In [2]:
fname = 'airline_2m.tar.gz'
url = 'https://dax-cdn.cdn.appdomain.cloud/dax-airline/1.0.1/' + fname
r = requests.get(url)
open(fname , 'wb').write(r.content)

151681776

In [3]:
tar = tarfile.open(fname)
tar.extractall()
tar.close()

In [4]:
data_path = "airline_2m.csv"
path.exists(data_path)

True

In [5]:
df = pd.read_csv(data_path, encoding = "ISO-8859-1", dtype={'Div1Airport': str, 'Div1TailNum': str, 'Div2Airport': str, 'Div2TailNum': str})
df.head()

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Reporting_Airline,DOT_ID_Reporting_Airline,IATA_CODE_Reporting_Airline,Tail_Number,...,Div4WheelsOff,Div4TailNum,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum
0,1998,1,1,2,5,1998-01-02,NW,19386,NW,N297US,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2009,2,5,28,4,2009-05-28,FL,20437,FL,N946AT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2013,2,6,29,6,2013-06-29,MQ,20398,MQ,N665MQ,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2010,3,8,31,2,2010-08-31,DL,19790,DL,N6705Y,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2006,1,1,15,7,2006-01-15,US,20355,US,N504AU,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
#Load raw airportsdata csv
url = 'https://raw.githubusercontent.com/mborsetti/airportsdata/main/airportsdata/airports.csv'
airports_data = pd.read_csv(url, index_col=0)

print(airports_data['iata'])

icao
00AA    NaN
00AK    NaN
00AL    NaN
00AN    NaN
00AR    NaN
       ...
ZYYY    NaN
_AYM    AYM
_KBH    KBH
_OUK    OUK
_YEH    YEH
Name: iata, Length: 28226, dtype: object

In [8]:
df1 = df.merge(airports_data, left_on='Origin', right_on='iata')
print(df1.head(5))

   Year  Quarter  Month  DayofMonth  DayOfWeek  FlightDate Reporting_Airline  \
0  1998        1      1           2          5  1998-01-02                NW
1  2012        3      7          25          3  2012-07-25                US
2  2017        2      5           5          5  2017-05-05                WN
3  2005        3      8           8          1  2005-08-08                UA
4  2019        2      4          23          2  2019-04-23                DL

   DOT_ID_Reporting_Airline IATA_CODE_Reporting_Airline Tail_Number  ...  \
0                     19386                          NW      N297US  ...
1                     20355                          US      N631AW  ...
2                     19393                          WN      N946WN  ...
3                     19977                          UA      N815UA  ...
4                     19790                          DL      N342NB  ...

   iata                                               name         city  \
0   MSP  Minneapolis-St Paul International/Wold-Chamber...  Minneapolis
1   MSP  Minneapolis-St Paul International/Wold-Chamber...  Minneapolis
2   MSP  Minneapolis-St Paul International/Wold-Chamber...  Minneapolis
3   MSP  Minneapolis-St Paul International/Wold-Chamber...  Minneapolis
4   MSP  Minneapolis-St Paul International/Wold-Chamber...  Minneapolis

        subd country elevation       lat       lon               tz  lid
0  Minnesota      US     841.8  44.88197 -93.22178  America/Chicago  MSP
1  Minnesota      US     841.8  44.88197 -93.22178  America/Chicago  MSP
2  Minnesota      US     841.8  44.88197 -93.22178  America/Chicago  MSP
3  Minnesota      US     841.8  44.88197 -93.22178  America/Chicago  MSP
4  Minnesota      US     841.8  44.88197 -93.22178  America/Chicago  MSP

[5 rows x 119 columns]

In [9]:
df1.rename(columns = {'lat':'Origin Latitude', 'lon':'Origin Longitude'})

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Reporting_Airline,DOT_ID_Reporting_Airline,IATA_CODE_Reporting_Airline,Tail_Number,...,iata,name,city,subd,country,elevation,Origin Latitude,Origin Longitude,tz,lid
0,1998,1,1,2,5,1998-01-02,NW,19386,NW,N297US,...,MSP,Minneapolis-St Paul International/Wold-Chamber...,Minneapolis,Minnesota,US,841.8,44.88197,-93.22178,America/Chicago,MSP
1,2012,3,7,25,3,2012-07-25,US,20355,US,N631AW,...,MSP,Minneapolis-St Paul International/Wold-Chamber...,Minneapolis,Minnesota,US,841.8,44.88197,-93.22178,America/Chicago,MSP
2,2017,2,5,5,5,2017-05-05,WN,19393,WN,N946WN,...,MSP,Minneapolis-St Paul International/Wold-Chamber...,Minneapolis,Minnesota,US,841.8,44.88197,-93.22178,America/Chicago,MSP
3,2005,3,8,8,1,2005-08-08,UA,19977,UA,N815UA,...,MSP,Minneapolis-St Paul International/Wold-Chamber...,Minneapolis,Minnesota,US,841.8,44.88197,-93.22178,America/Chicago,MSP
4,2019,2,4,23,2,2019-04-23,DL,19790,DL,N342NB,...,MSP,Minneapolis-St Paul International/Wold-Chamber...,Minneapolis,Minnesota,US,841.8,44.88197,-93.22178,America/Chicago,MSP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1999517,2019,3,8,5,1,2019-08-05,G4,20368,G4,318NV,...,HGR,Hagerstown Regional/Richard A Henson Field,Hagerstown,Maryland,US,703.1,39.70850,-77.72650,America/New_York,HGR
1999518,1992,4,12,18,5,1992-12-18,AS,19930,AS,NaN,...,ANI,Aniak Airport,Aniak,Alaska,US,96.8,61.58141,-159.54530,America/Anchorage,ANI
1999519,1995,2,5,20,6,1995-05-20,AS,19930,AS,N741AS,...,ANI,Aniak Airport,Aniak,Alaska,US,96.8,61.58141,-159.54530,America/Anchorage,ANI
1999520,1993,1,1,27,3,1993-01-27,AS,19930,AS,NaN,...,ANI,Aniak Airport,Aniak,Alaska,US,96.8,61.58141,-159.54530,America/Anchorage,ANI
1999521,1994,1,1,7,5,1994-01-07,AS,19930,AS,NaN,...,ANI,Aniak Airport,Aniak,Alaska,US,96.8,61.58141,-159.54530,America/Anchorage,ANI

In [10]:
df2 = df1.merge(airports_data, left_on='Dest', right_on='iata')
print(df2.head())

   Year  Quarter  Month  DayofMonth  DayOfWeek  FlightDate Reporting_Airline  \
0  1998        1      1           2          5  1998-01-02                NW
1  1989        4     11           7          2  1989-11-07                DL
2  2003        4     10           6          1  2003-10-06                NW
3  1991        2      4          22          1  1991-04-22                DL
4  1992        3      7          29          3  1992-07-29                DL

   DOT_ID_Reporting_Airline IATA_CODE_Reporting_Airline Tail_Number  ...  \
0                     19386                          NW      N297US  ...
1                     19790                          DL         NaN  ...
2                     19386                          NW      N376NW  ...
3                     19790                          DL         NaN  ...
4                     19790                          DL         NaN  ...

   iata_y                                name_y          city_y  subd_y  \
0     SLC  Salt Lake City International Airport  Salt Lake City    Utah
1     SLC  Salt Lake City International Airport  Salt Lake City    Utah
2     SLC  Salt Lake City International Airport  Salt Lake City    Utah
3     SLC  Salt Lake City International Airport  Salt Lake City    Utah
4     SLC  Salt Lake City International Airport  Salt Lake City    Utah

  country_y elevation_y     lat_y      lon_y            tz_y  lid_y
0        US      4230.9  40.78839 -111.97777  America/Denver    SLC
1        US      4230.9  40.78839 -111.97777  America/Denver    SLC
2        US      4230.9  40.78839 -111.97777  America/Denver    SLC
3        US      4230.9  40.78839 -111.97777  America/Denver    SLC
4        US      4230.9  40.78839 -111.97777  America/Denver    SLC

[5 rows x 129 columns]

In [11]:
df2 = df2.rename(columns={'lat_x':'Origin Latitude', 'lon_x':'Origin Longitude', 'lat_y':'Destination Latitude', 'lon_y':'Destination Longitude'})

In [12]:
df2.to_csv('/Users/sarahlawlis/Desktop/airline_geocoded.csv')